# Compiled class files
*.class

# Log files
*.log
resources/data/user_interactions.log

# Serialized data
resources/data/*.ser

# Package Files
*.jar
*.war
*.ear

# VS Code settings folder
.vscode/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# Build directories
/bin/
/build/
/out/
/target/

# Gradle files
.gradle/

# Maven files
target/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Temporary files
*.tmp
*~

# Ignore any files with sensitive data
*.key
*.pem
